.btun
{
  margin-top: 100px;
  margin-left:700px;
}
.txt
{
  margin-left: 550px;
}
.dsa
{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
 gap:100px;
}